<form data-dojo-attach-point="containerNode" class="dijitHidden">
    <div data-dojo-type="dijit/layout/TabContainer"
         data-dojo-props='style:"width: 500px; height: 200px;",  tabPosition:"bottom"'>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"My first tab", selected:true'>
            Bottom tabs
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"My second tab", closable:true'>
            <div class="row">
                <input class="${baseClass}HerUrl"
                       data-dojo-type="dijit/form/TextBox"
                       data-dojo-props='name:"herUrl"' />
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='title:"My last tab"'>
            Lorem ipsum and all around - last...
        </div>
    </div>
    <div class="row">
        <label>${!_t.urlLabel}</label>
        <input class="${baseClass}Url"
               data-dojo-type="dijit/form/TextBox"
               data-dojo-props='name:"pageUrl"' />
        <div class="field-description">${!_t.urlHelp}</div>
    </div>

    <div class="row">
        <label>${!_t.metaTitleLabel}</label>
        <input class="${baseClass}Title"
               data-dojo-type="dijit/form/Textarea"
               data-dojo-props='name:"pageTitle", maxLength: 300' />
        <div class="field-description">${!_t.metaTitleHelp}</div>
    </div>

    <div class="row">
        <label>${!_t.metaDescriptionLabel}</label>
        <input class="${baseClass}Description"
               data-dojo-type="dijit/form/Textarea"
               data-dojo-props='name:"pageDescription", maxLength: 300' />
        <div class="field-description">${!_t.metaDescriptionHelp}</div>
    </div>

    <div class="row">
        <label>${!_t.metaKeywordsLabel}</label>
        <input class="${baseClass}Keywords"
               data-dojo-type="dijit/form/Textarea"
               data-dojo-props='name:"pageKeywords", maxLength: 300' />
        <div class="field-description">${!_t.metaKeywordsHelp}</div>
    </div>

    <div class="row">
        ${!_t.contentLabel}
        <div class="${baseClass}Editor"
             data-dojo-type="dojo-ckeditor/Editor"
             data-dojo-attach-point="contentEditorWidget"
             data-dojo-props='name:"content",
                              settings: {
                              filebrowserUploadUrl: "${filebrowserUploadUrl}",
                              allowedContent: true}'></div>
        <div class="field-description">${!_t.contentHelp}</div>
    </div>

    <input class="${baseClass}AddButton"
           data-dojo-type="dojo-common/form/BusyButton"
           data-dojo-attach-point="saveButtonWidget"
           data-dojo-attach-event="onClick: save"
           data-dojo-props='name:"send",
                            disabled: true,
                            label:"${!_t.addButton}"' />

    <input class="${baseClass}ResetButton"
           data-dojo-type="dijit/form/Button"
           data-dojo-attach-point="resetButtonWidget"
           data-dojo-attach-event="onClick: reset"
           data-dojo-props='name:"reset",
                            disabled: true,
                            label:"${!_t.resetButton}"' />
</form>
