<form data-dojo-attach-point="containerNode" class="dijitHidden">
    <div class="row">
        <label>${!_t.titleLabel}</label>
        <input class="${baseClass}Alias"
               data-dojo-type="dijit/form/ValidationTextBox"
               data-dojo-props='name:"title", required: "true"' />
        <div class="field-description">${!_t.titleHelp}</div>
    </div>

    <div class="row">
        <label>${!_t.metaTitleLabel}</label>
        <input class="${baseClass}Title"
               data-dojo-type="dijit/form/Textarea"
               data-dojo-props='name:"pageTitle", maxLength: 300' />
        <div class="field-description">${!_t.metaTitleHelp}</div>
    </div>

    <div class="row">
        <label>${!_t.metaDescriptionLabel}</label>
        <input class="${baseClass}Description"
               data-dojo-type="dijit/form/Textarea"
               data-dojo-props='name:"pageDescription", maxLength: 300' />
        <div class="field-description">${!_t.metaDescriptionHelp}</div>
    </div>

    <div class="row">
        <label>${!_t.metaKeywordsLabel}</label>
        <input class="${baseClass}Keywords"
               data-dojo-type="dijit/form/Textarea"
               data-dojo-props='name:"pageKeywords", maxLength: 300' />
        <div class="field-description">${!_t.metaKeywordsHelp}</div>
    </div>

    <div class="row">
        ${!_t.statusLabel}
        <select data-dojo-type="dijit/form/FilteringSelect"
                data-dojo-attach-point="statusWidget"
                data-dojo-props='name: "status", constraints: {min: 1, max: 4}'>
            <option value="1">На складе</option>
            <option value="2">В пути</option>
            <option value="3">Пред заказ</option>
            <option value="4">Снят с производства</option>
        </select>
    </div>

    <div class="row">
        ${!_t.modelToReplaceLabel}
        <select data-dojo-type="dijit/form/FilteringSelect"
                data-dojo-attach-point="modelToReplaceWidget"
                data-dojo-props="name: 'replaceProduct'">
        </select>
    </div>

    <div class="row">
        ${!_t.categoryLabel}
        <select data-dojo-type="dijit/form/FilteringSelect"
                data-dojo-attach-point="categoryWidget"
                data-dojo-props="name: 'category', searchAttr: 'title'">
        </select>
    </div>

    <div class="row">
        ${!_t.isNewLabel}
        <input data-dojo-type="dijit/form/CheckBox"
                data-dojo-props="name: 'isNew'"/>
    </div>

    <div class="row">
        ${!_t.watchedLabel}
        <input data-dojo-type="dijit/form/CheckBox"
               data-dojo-props="name: 'isWatched'"/>
    </div>

    <div class="row">
        ${!_t.isEnabledLabel}
        <input data-dojo-type="dijit/form/CheckBox"
               data-dojo-props="name: 'isEnabled'"/>
    </div>

    <div class="row">
        ${!_t.priceLabel}
        <input class="${baseClass}Price"
               data-dojo-type="dijit/form/NumberTextBox"
               data-dojo-attach-point="priceWidget"
               data-dojo-props='name: "price", constraints: {min: 1}' />
        <div class="field-description">${!_t.priceHelp}</div>
    </div>

    <div class="row">
        ${!_t.priceDealLabel}
        <input class="${baseClass}PriceDeal"
               data-dojo-type="dijit/form/NumberTextBox"
               data-dojo-attach-point="priceDealWidget"
               data-dojo-props='name: "priceDeal", constraints: {min: 0}' />
        <div class="field-description">${!_t.priceDealHelp}</div>
    </div>

    <div class="row">
        ${!_t.shortDescriptionLabel}
        <div class="${baseClass}ShortDescriptionEditor"
             data-dojo-type="hc-backend/Editor"
             data-dojo-attach-point="shortDescriptionEditorWidget"
             data-dojo-props='name:"shortDescription",
                              settings: {allowedContent: true}'></div>
        <div class="field-description">${!_t.shortDescriptionHelp}</div>
    </div>

    <div class="row">
        ${!_t.imagesLabel}
        <div data-dojo-type="hc-backend/form/FileInputList"
             style="width: 100%;"
             class="presentationImage"
             data-dojo-props="service: '${filebrowserServiceUrl}',
                              name: 'image'"></div>
    </div>

    <div class="row">
        ${!_t.thumbnailLabel}
        <div data-dojo-type="hc-backend/form/FileInputList"
             style="width: 265px;"
             class="thumbnailImage"
             data-dojo-props="service: '${thumbnailServiceUrl}',
                              name: 'thumbnail',
                              saveMultiImage: false"></div>
    </div>

    <div class="row">
        ${!_t.image3dLabel}
        <div data-dojo-type="hc-backend/form/FileInputList"
             style="width: 100%; "
             data-dojo-props="service: '${image3dServiceUrl}',
                              name: 'image3d',
                              saveMultiImage: false"></div>
    </div>

    <div class="row">
        ${!_t.characteristicsLabel}
        <div data-dojo-attach-point="characteristicsWidget"></div>
    </div>

    <div class="row">
        ${!_t.attributesLabel}
        <div data-dojo-attach-point="attributesWidget"></div>
    </div>

    <div class="row">
        ${!_t.descriptionLabel}
        <div class="${baseClass}DescriptionEditor"
             data-dojo-type="hc-backend/Editor"
             data-dojo-attach-point="descriptionEditorWidget"
             data-dojo-props='name:"description",
                              settings: {allowedContent: true}'></div>
        <div class="field-description">${!_t.descriptionHelp}</div>
    </div>

    <div class="row">
        ${!_t.extraDescriptionLabel}
        <div class="${baseClass}ExtraDescriptionEditor"
             data-dojo-type="hc-backend/Editor"
             data-dojo-attach-point="extraDescriptionEditorWidget"
             data-dojo-props='name: "extraDescription",
                              settings: {allowedContent: true}'></div>
        <div class="field-description">${!_t.extraDescriptionHelp}</div>
    </div>

    <div class="row">
        ${!_t.instructionLabel}<br/>
        <div class="fileInputList">
        <div data-dojo-attach-point="instructionNameNode"></div>
        <input data-dojo-type="dojo-common/form/FileInputAuto"
               data-dojo-attach-point="instructionWidget"
               data-dojo-props="name: 'instruction',
                                url:  '${instructionUploadUrl}',
                                triggerEvent: 'onchange',
                                duration: 1,
                                realSize: 36,
                                blurDelay: 0" />
        </div>
    </div>

    <div class="row">
        ${!_t.crosssellLabel}
        <div data-dojo-attach-point="crosssellWidget"></div>
    </div>

    <input class="${baseClass}AddButton"
           data-dojo-type="dojo-common/form/BusyButton"
           data-dojo-attach-point="saveButtonWidget"
           data-dojo-attach-event="onClick: save"
           data-dojo-props='name:"send",
                            label:"${!_t.addButton}"' />
</form>
